extends layout

block content
    h3= title
    h4= 'Hello Boston!'
    script.
        //myObj = JSON.parse(weather);
        $('h1').html(weather.name);
        var output = document.getElementById('output');
        output.innerHTML = weather;